Node-Red Flow.json
[{"id":"6f883df2a4070a3b","type":"tab","label":"Health Application","disabled":false,"info":"","env":[]},{"id":"f706417843ee6d9e","type":"ui_form","z":"6f883df2a4070a3b","name":"","label":"","group":"3ae1bfb9d0e835c1","order":1,"width":0,"height":0,"options":[{"label":"Average Heart Beat Per Min.","value":"heartbeat","type":"number","required":true,"rows":null},{"label":"Palpitation per day","value":"palpitation","type":"number","required":true,"rows":null},{"label":"Cholesterol","value":"cholesterol","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Sex(M/F)","value":"sex","type":"text","required":true,"rows":null},{"label":"Family History(Y/N)","value":"familyhistory","type":"text","required":true,"rows":null},{"label":"SmokerLast5Year (Y/N)","value":"smoker","type":"text","required":true,"rows":null},{"label":"Exercise Mins. Per Week","value":"excercisemin","type":"number","required":true,"rows":null}],"formValue":{"heartbeat":"","palpitation":"","cholesterol":"","bmi":"","age":"","sex":"","familyhistory":"","smoker":"","excercisemin":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":70,"y":80,"wires":[["576a437d2177bb31"]]},{"id":"576a437d2177bb31","type":"function","z":"6f883df2a4070a3b","name":"Global variables","func":"global.set(\"AVGHEARTBEATSPERMIN\", msg.payload.heartbeat)\nglobal.set(\"PALPITATIONSPERDAY\", msg.payload.palpitation)\nglobal.set(\"CHOLESTEROL\", msg.payload.cholesterol)\nglobal.set(\"BMI\", msg.payload.bmi)\nglobal.set(\"AGE\", msg.payload.age)\nglobal.set(\"SEX\", msg.payload.sex)\nglobal.set(\"FAMILYHISTORY\", msg.payload.familyhistory)\nglobal.set(\"SMOKERLAST5YRS\", msg.payload.smoker)\nglobal.set(\"EXERCISEMINPERWEEK\", msg.payload.excercisemin)\n\nvar apikey=\"Po1yubiA-q-mvOFlMtWPJpSiPUeWZq08H16L0PzC6Tbp\"\n\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\", \"Accept\": \"application/json\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":200,"wires":[["27a489ec186ca1ec"]]},{"id":"27a489ec186ca1ec","type":"http request","z":"6f883df2a4070a3b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":310,"y":80,"wires":[["c48c9a679e24bed6"]]},{"id":"c48c9a679e24bed6","type":"function","z":"6f883df2a4070a3b","name":"","func":"var AVGHEARTBEATSPERMIN = global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY = global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL = global.get(\"CHOLESTEROL\")\nvar BMI = global.get(\"BMI\")\nvar AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar FAMILYHISTORY = global.get(\"FAMILYHISTORY\")\nvar SMOKERLAST5YRS = global.get(\"SMOKERLAST5YRS\")\nvar EXERCISEMINPERWEEK = global.get(\"EXERCISEMINPERWEEK\")\n\nvar token = msg.payload.access_token\n\nmsg.headers = {'Content-Type':'application/jason', \"Authorization\":\"Bearer\" + token, \"Accept\" :\"application/jason\"}\nmsg.payload = { \"input_data\": [{\"fields\": [\"AVGHEARTBEATSPERMIN\", \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\", \"AGE\", \"SEX\", \"FAMILYHISTORY\", \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"],\n                        \"values\": [[AVGHEARTBEATSPERMIN, PALPITATIONSPERDAY,CHOLESTEROL, BMI, AGE, SEX,FAMILYHISTORY, SMOKERLAST5YRS,EXERCISEMINPERWEEK  ]]}]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":220,"wires":[["9871dc0daad269b2"]]},{"id":"9871dc0daad269b2","type":"http request","z":"6f883df2a4070a3b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/3f660ba5-ac4f-4545-96ee-a5d04e80a912/predictions?version=2022-08-03","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":550,"y":80,"wires":[["897952721fe06db2","235dbaec36e89949","812ffafdd98733af"]]},{"id":"897952721fe06db2","type":"debug","z":"6f883df2a4070a3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"235dbaec36e89949","type":"function","z":"6f883df2a4070a3b","name":"Prediction Label","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":160,"wires":[["c3cb4b6310be9e97","47a7050193b92bd9"]]},{"id":"c3cb4b6310be9e97","type":"ui_text","z":"6f883df2a4070a3b","group":"3ae1bfb9d0e835c1","order":2,"width":0,"height":0,"name":"","label":"Prediction Label","format":"{{msg.payload}}","layout":"row-spread","className":"","x":920,"y":160,"wires":[]},{"id":"2815042cc289b521","type":"ui_text","z":"6f883df2a4070a3b","group":"3ae1bfb9d0e835c1","order":2,"width":0,"height":0,"name":"","label":"Prediction Score","format":"{{msg.payload}}","layout":"row-spread","className":"","x":920,"y":280,"wires":[]},{"id":"812ffafdd98733af","type":"function","z":"6f883df2a4070a3b","name":"Prediction Score","func":"msg.payload = msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":280,"wires":[["2815042cc289b521"]]},{"id":"47a7050193b92bd9","type":"debug","z":"6f883df2a4070a3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":220,"wires":[]},{"id":"3ae1bfb9d0e835c1","type":"ui_group","name":"Enter the Value","tab":"fc65447ef5b6fc55","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fc65447ef5b6fc55","type":"ui_tab","name":"Effective Heart Disease Prediction Using Ibm Auto Ai","icon":"dashboard","disabled":false,"hidden":false}]